src/flows/C501_Appointment_Schedule-51.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clear_Error_Message</name>
        <label>Clear Error Message</label>
        <locationX>773</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Select_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Appts</name>
        <label>Count Appts</label>
        <locationX>1074</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>varAppointmentsThisMonth</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentsThisMonthSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getAppointmentThisMonthSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Appts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Counter_Max_Appts</name>
        <label>Reset Counter Max Appts</label>
        <locationX>1463</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>varAppointmentsThisMonth</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentsThisMonthSummary</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Appts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Error</name>
        <label>Set Appt Invalid Day</label>
        <locationX>1100</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTextTemplateAppointmentDayInvalid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Select_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Error_Age_Restriction</name>
        <label>Set Appt Age Restriction</label>
        <locationX>1229</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTextTemplateAgeInvalid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Select_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Error_Already_Scheduled</name>
        <label>Set Appt Already Scheduled</label>
        <locationX>1235</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTextTemplateErrorAlreadyScheduled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Select_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Error_Max</name>
        <label>Set Appt Max</label>
        <locationX>1237</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTextTemplateMaxAppointments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Select_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Appointment_Error_No_Times</name>
        <label>Set Appt No Times</label>
        <locationX>1233</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTextTemplateNoTimes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Select_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>173</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTextTemplateNoContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Client_Info</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Scheduled</name>
        <label>Already Scheduled</label>
        <locationX>1642</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>Senior_Day_Restricted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soScheduledAppointment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appointment_Error_Already_Scheduled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Appointments</name>
        <label>Any Appointments</label>
        <locationX>1219</locationX>
        <locationY>771</locationY>
        <defaultConnector>
            <targetReference>Set_Appointment_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Appointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAppointmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Available_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Available_Appointments</name>
        <label>Any Available Appointments</label>
        <locationX>1450</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Set_Appointment_Error_No_Times</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Available_Appointments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soAppointment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Already_Scheduled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Appts_Restricted</name>
        <label>Max Appts Restricted</label>
        <locationX>1632</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Screen_Select_Appointment_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Max_Restricted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAppointmentsThisMonth</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varAppointmentsMaxPerMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appointment_Error_Max</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Senior_Day_Restricted</name>
        <label>Senior Day Restricted</label>
        <locationX>1636</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Appointments_This_Month</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Senior_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soAppointment.Senior_Only_Appointments_60_and_over__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAgeInYears</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Appointment_Error_Age_Restriction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Contact</name>
        <label>Valid Contact</label>
        <locationX>578</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Incoming_Id</name>
        <label>Valid Incoming Id</label>
        <locationX>273</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>Screen_Client_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getIncomingIdLength</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DaveB - Re-enable appointment scheduling since the disable when COVID started</description>
    <dynamicChoiceSets>
        <name>GetTimes</name>
        <dataType>String</dataType>
        <displayField>Summary__c</displayField>
        <filters>
            <field>Appointment_Schedule__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Appointments_Full__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Enable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>getNewAppointmentName</elementReference>
            </value>
        </filters>
        <object>C501_Appointment__c</object>
        <outputAssignments>
            <assignToReference>soAppointment.Available_Time__c</assignToReference>
            <field>Available_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soAppointment.Date__c</assignToReference>
            <field>Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soAppointment.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soAppointment.Summary__c</assignToReference>
            <field>Summary__c</field>
        </outputAssignments>
        <sortField>Available_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>getAgeInYears</name>
        <dataType>Number</dataType>
        <expression>FLOOR(({!$Flow.CurrentDate} - {!varContact.Birthdate}) / 365)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getAppointmentThisMonthSummary</name>
        <dataType>String</dataType>
        <expression>TEXT({!soScheduledAppointment.Date__c}) + &quot; &quot; + {!soScheduledAppointment.Time__c} + &quot;, &quot;</expression>
    </formulas>
    <formulas>
        <name>getEmailSummary</name>
        <dataType>String</dataType>
        <expression>IF (CONTAINS({!Screen_Appointment_Email}, &quot;@&quot;), 
&quot;Email confirmation sent to &quot; &amp; {!Screen_Appointment_Email}, &quot;Email confirmation not sent since no email associated with your account&quot;)</expression>
    </formulas>
    <formulas>
        <name>getIncomingIdLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!varInputContactId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getMonthEnd</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH( {!Screen_Appointment_Date} ) = 12,
  DATE( YEAR( {!Screen_Appointment_Date} ), 12, 31 ), 
  DATE( YEAR( {!Screen_Appointment_Date} ), MONTH ( {!Screen_Appointment_Date} ) + 1, 1 ) - 1 )</expression>
    </formulas>
    <formulas>
        <name>getMonthStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Screen_Appointment_Date}), MONTH({!Screen_Appointment_Date}), 1)</expression>
    </formulas>
    <formulas>
        <name>getNewAppointmentName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Screen_Appointment_Date})</expression>
    </formulas>
    <formulas>
        <name>getNewAppointmentScheduledName</name>
        <dataType>String</dataType>
        <expression>{!varContact.Name} + &quot; Appointment Scheduled&quot;</expression>
    </formulas>
    <interviewLabel>Appointment Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Schedule</label>
    <loops>
        <name>Loop_Appts</name>
        <label>Loop Appts</label>
        <locationX>1296</locationX>
        <locationY>334</locationY>
        <assignNextValueToReference>soScheduledAppointment</assignNextValueToReference>
        <collectionReference>socAppointmentsThisMonth</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Appts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Max_Appts_Restricted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appointment</name>
        <label>Create Appointment</label>
        <locationX>1843</locationX>
        <locationY>654</locationY>
        <assignRecordIdToReference>varAppointmentScheduledId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_Appointment_Scheduled</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C501_Appointment__c</field>
            <value>
                <elementReference>Select_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Id__c</field>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Screen_Appointment_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getNewAppointmentScheduledName</elementReference>
            </value>
        </inputAssignments>
        <object>C501_Appointment_Scheduled__c</object>
    </recordCreates>
    <recordLookups>
        <name>Appointments_This_Month</name>
        <label>Appointments This Month</label>
        <locationX>1628</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Counter_Max_Appts</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>getMonthStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>getMonthEnd</elementReference>
            </value>
        </filters>
        <object>C501_Appointment_Scheduled__c</object>
        <outputReference>socAppointmentsThisMonth</outputReference>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Time__c</queriedFields>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Check_Already_Scheduled</name>
        <label>Check Already Scheduled</label>
        <locationX>1649</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Scheduled</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Appointment_Date</elementReference>
            </value>
        </filters>
        <object>C501_Appointment_Scheduled__c</object>
        <outputAssignments>
            <assignToReference>soScheduledAppointment.Date__c</assignToReference>
            <field>Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soScheduledAppointment.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soScheduledAppointment.Time__c</assignToReference>
            <field>Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Appointment</name>
        <label>Get Appointment</label>
        <locationX>938</locationX>
        <locationY>771</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Appointments</targetReference>
        </connector>
        <filters>
            <field>Appointment_Schedule__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Enable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>getNewAppointmentName</elementReference>
            </value>
        </filters>
        <object>C501_Appointment__c</object>
        <outputAssignments>
            <assignToReference>varAppointmentsMaxPerMonth</assignToReference>
            <field>Appointments_Max_per_Month__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAppointmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Appointment</name>
        <label>Get Available Appointment</label>
        <locationX>1459</locationX>
        <locationY>769</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Available_Appointments</targetReference>
        </connector>
        <filters>
            <field>Appointments_Full__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Enable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>getNewAppointmentName</elementReference>
            </value>
        </filters>
        <object>C501_Appointment__c</object>
        <outputAssignments>
            <assignToReference>soAppointment.Available_Time__c</assignToReference>
            <field>Available_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soAppointment.Date__c</assignToReference>
            <field>Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soAppointment.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soAppointment.Senior_Only_Appointments_60_and_over__c</assignToReference>
            <field>Senior_Only_Appointments_60_and_over__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>soAppointment.Time__c</assignToReference>
            <field>Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_0</name>
        <label>Get Contact</label>
        <locationX>428</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContact.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.Birthdate</assignToReference>
            <field>Birthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_DOB</name>
        <label>Get Contact by DOB</label>
        <locationX>579</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Contact</targetReference>
        </connector>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Birthdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Screen_Last_Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContact.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.Birthdate</assignToReference>
            <field>Birthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Screen_Appointment_Scheduled</name>
        <label>Screen Appointment Scheduled</label>
        <locationX>1849</locationX>
        <locationY>781</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Scheduled_Title</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Success!  Your appointment has been scheduled.&lt;FONT STYLE=&quot;font-size:22px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Scheduled_Spacer2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Finish_Name</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Name:&lt;/B&gt; {!varContact.Name}&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Scheduled_Spacer12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Finish_When</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;When:&lt;/B&gt; {!Screen_Appointment_Date} at {!Select_Time}&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Scheduled_Spacer11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Finish_Where</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Where:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;https://www.whitecenterfoodbank.org/contact/&quot; TARGET=&quot;_blank&quot;&gt;White Center Food Bank&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Appointment_Scheduled_Info</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;10829 8th Ave SW&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Seattle, WA 98146&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;(206) 762-2848&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Scheduled_Spacer1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Scheduled_Print</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Remember to bring&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;ID&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Proof of current address (bill no older than 60 days)&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Scheduled_Spacer3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Print</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!getEmailSummary}.  &lt;FONT KERNING=&quot;0&quot;&gt;You may print this page as a reminder.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Client_Info</name>
        <label>Screen Client Info</label>
        <locationX>180</locationX>
        <locationY>168</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_DOB</targetReference>
        </connector>
        <fields>
            <name>Screen_Info_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Client_Info_Spacer2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Client_Info_Intro</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:24px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Welcome to the White Center Food Bank appointment scheduler.&lt;FONT STYLE=&quot;font-size:20px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Client_Info_Spacer16</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Client_Info_Holiday</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: sans-serif;&quot;&gt;Starting January 13, 2021, every customer will need to renew their account. There will be a form to fill out. Please bring your Current Picture ID and Proof of Address.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Client_Info_Spacer5</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Client_Info_Provide</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;Please provide your last name and birthdate to schedule an appointment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Client_Info_Spacer10</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Client_Info_Contact</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;If you experience any issues, please contact White Center Food Bank at&lt;B&gt; (206) 762-2848&lt;/B&gt; between 8:00 a.m. - 4:00 p.m. Monday through Friday for help scheduling your appointment.&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Client_Info_Spacer15</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Last Name&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>LEN({!Screen_Last_Name}) &lt; 127</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Screen_Birthdate</name>
            <dataType>Date</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Birthdate&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Appointment</name>
        <label>Screen Select Appointment</label>
        <locationX>923</locationX>
        <locationY>376</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Appointment</targetReference>
        </connector>
        <fields>
            <name>Screen_Appointment_Error</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Info_Spacer1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Appointment_Info</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Hello {!varContact.FirstName},&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Appointment_Welcome</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Welcome to the Appointment Scheduling!&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space13</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Appointment_Select</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please select a day you would like to come in for an appointment.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Info_Spacer2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Appointment_Date</name>
            <dataType>Date</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Day&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.  Select a valid date of today or in the future.</errorMessage>
                <formulaExpression>{!Screen_Appointment_Date} &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Screen_Info_CalendarHelp1</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;Click on the field above to display a calendar and select a date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space11</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenSelectAppointmentHours</name>
            <fieldText>{!varTextTemplateFoodBankServiceHours}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Appointment_Time</name>
        <label>Screen Select Appointment Time</label>
        <locationX>1838</locationX>
        <locationY>505</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Appointment</targetReference>
        </connector>
        <fields>
            <name>Screen_Appointment_Time_Info</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please select from the available times for {!Screen_Appointment_Date} &lt;FONT KERNING=&quot;1&quot;&gt;to schedule your appointment.  Enter an email address if you would like an email confirmation.&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Appointment_Spacer1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Time</name>
            <choiceReferences>GetTimes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Time&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space12</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Appointment_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varContact.Email</elementReference>
            </defaultValue>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Email&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX( {!Screen_Appointment_Email} ,&apos;([a-zA-Z0-9_\\-\\.]+)@((\\[a-z]{1,3}\\.[a-z]{1,3}\\.[a-z]{1,3}\\.)|(([a-zA-Z0-9\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})&apos;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space14</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenSelectAppointmentTimeHours</name>
            <fieldText>{!varTextTemplateFoodBankServiceHours}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Valid_Incoming_Id</startElementReference>
    <textTemplates>
        <name>varTextTemplateAgeInvalid</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Thursday appointments are dedicated to seniors 60 years and over.  If you have questions, contact White Center Food Bank at (206) 762-2848.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varTextTemplateAppointmentDayInvalid</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;We&amp;apos;re sorry, but no appointments are available on {!Screen_Appointment_Date}.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varTextTemplateErrorAlreadyScheduled</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You already have a scheduled appointment for {!soScheduledAppointment.Date__c} {!soScheduledAppointment.Time__c}.  If you need another appointment, then you can select another day.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varTextTemplateFoodBankServiceHours</name>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;General Service Hours (Day and Times may vary)&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;Monday: &lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;12:00 p.m. to 3:30 p.m.﻿&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;Tuesday: &lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;CLOSED&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;Wednesday: &lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;10:00 a.m. to 1:30 p.m.&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;Thursday: &lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;10:00 a.m. to 1:30 p.m. (&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;&lt;i&gt;for seniors 60 years and over only&lt;/i&gt;&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;)&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;Friday: &lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;10:00 a.m. to 1:30 p.m.&lt;/span&gt;&lt;/li&gt;&lt;li style=&quot;text-align: left;&quot;&gt;&lt;i style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;2nd and 4th Wednesday of each month: 10&lt;/i&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 20px;&quot;&gt;:00 a.m. to 3:30 p.m.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varTextTemplateMaxAppointments</name>
        <text>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: sans-serif; font-size: 22px;&quot;&gt;We&apos;re sorry, but only {!varAppointmentsMaxPerMonth} appointments are allowed per month per household.  For questions or to reschedule existing appointments, call White Center Food Bank for scheduling help at (206) 762-2848.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: sans-serif; font-size: 22px;&quot;&gt;Scheduled Appointments This Month:  {!varAppointmentsThisMonthSummary}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varTextTemplateNoContact</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;We&amp;apos;re sorry, but your contact information was not found in the our records.  Please try again or reach out to White Center Food Bank for scheduling help at (206) 762-2848.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varTextTemplateNoTimes</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;We&amp;apos;re sorry, but no times available for {!Screen_Appointment_Date}.  Please select another day.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>soAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C501_Appointment__c</objectType>
    </variables>
    <variables>
        <name>socAppointmentsThisMonth</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C501_Appointment_Scheduled__c</objectType>
    </variables>
    <variables>
        <name>soScheduledAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C501_Appointment_Scheduled__c</objectType>
    </variables>
    <variables>
        <name>varAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAppointmentScheduledId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAppointmentsMaxPerMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAppointmentsThisMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAppointmentsThisMonthSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
